<style>

</style>

<div class="page-title">
    <h1>Admin Home</h1>
</div>


<div class="add-form">
    <h5>Add New Course</h5>
    <form action="/admin/add" method="post">
        <input type="text" name="name" placeholder="Golf Course Name">
        <input type="text" name="url" placeholder="Golf Course Website">
        <input type="text" name="street1" placeholder="Street 1">
        <input type="text" name="street2" placeholder="Street 2">
        <input type="text" name="city" placeholder="City">
        <input type="text" name="state" placeholder="State">
        <input type="text" name="zip" placeholder="Zipcode">
        <input type="text" name="country" placeholder="Country">
        <input type="text" name="coordinatesX" placeholder="X Coordinates">
        <input type="text" name="coordinatesY" placeholder="Y Coordinates">
        <button type="submit">Add Course</button>
    </form>
</div>

<% courses.forEach(function(course) { %>
    <div class="course-link">
        <h3><a href="/admin/course/<%= course.id %>"><%= course.name %></a></h3>
    </div>
<% }) %>