<style>
    .scorecard-container {
        width: 90%;
        margin-left: 5%;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(2px);
        padding: 5px;
        box-shadow: 0 2px 2px  rgba(0, 0, 0, 0.6);
    }
    .scorecard-container h5 {
        text-align: center;
        padding: 5px;
    }
    .next-hole {
        width: 90%;
        margin-left: 5%;
        margin-top: 20px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(2px);
        padding: 5px;
        text-align: center;
        color: #fff;
        font-size: 1.5rem;
        box-shadow: 0 2px 2px  rgba(0, 0, 0, 0.6);
    }
    .next-hole h3 {
        padding: 15px;
    }
    .next-hole h5 {
        padding: 10px;
    }
    .next-hole h4 {
        padding: 12px;
    }
    .start-round {
        width: 90%;
        margin-left: 5%;
        margin-top: 20px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(2px);
        padding: 5px;
        text-align: center;
        color: #fff;
        font-size: 2rem;
        box-shadow: 0 2px 2px  rgba(0, 0, 0, 0.6);
    }
    .start-round a {
        color: green;
        text-decoration: none;
    }
    .complete-scorecard {
        width: 90%;
        margin-left: 5%;
        margin-top: 20px;
        border-radius: 8px;
        background: rgba(255, 255, 255, 0.3);
        backdrop-filter: blur(2px);
        padding: 5px;
        text-align: center;
        color: #fff;
        font-size: 2rem;
        box-shadow: 0 2px 2px  rgba(0, 0, 0, 0.6);
    }
    .complete-scorecard a {
        color: green;
        text-decoration: none;

    }
</style>

<div class="page-title">
    <h1>Scorecard</h1>
</div>

<div class="scorecard-container">
    <h5>Total Holes:</h5>
    <h5>Total Yards:</h5>
    <h5>Current Temp:</h5>
    <h5>Current Wind Speed:</h5>
    <h5>Current Wind Direction:</h5>
</div>

<div class="next-hole">
    <h3>Hole 1</h3>
    <h5>372 Yards</h5>
    <h4>Par 4</h4>
</div>
<div class="start-round">
    <h1><a href="">Start Round</a></h1>
</div>

<div class="complete-scorecard">
    <h5><a href="">View Full Scorecard</a></h5>
</div>