<style>

    .menu-images {
        width: 100%;
        display: inline-flex;
        overflow-x: scroll;
    }
    .menu-image {
        width: 100%;
        min-width: 100%;
    }
    .menu-image img {
        max-height: 100%;
        width: 100%;
    }
</style>


<div class="spread-bar">
    <p><a href="/users/login">Login</a></p>
</div>


<div class="page-title">
    <h1>SpreadGolf</h1>
</div>

<div class="menu-images">
    <div class="menu-image"><img src="https://img1.10bestmedia.com/Images/Photos/253409/p-Sandia1_54_990x660_201404251613.jpg" alt=""></div>
    <div class="menu-image"><img src="https://img.xcitefun.net/users/2011/09/262386,xcitefun-golf-course-14.jpg" alt=""></div>
    <div class="menu-image"><img src="https://files.tripstodiscover.com/files/2017/09/TPC-Sawgrass-Ponte-Vedra.jpg" alt=""></div>
    <div class="menu-image"><img src="https://www.pixel-creation.com/wp-content/uploads/unique-myrtle-beach-golf-course-wallpaper-the-most-beautiful-beach-800x800.jpeg" alt=""></div>
    <div class="menu-image"><img src="https://img1.10bestmedia.com/Images/Photos/228869/oceanclub_54_990x660_201406020224.jpg" alt=""></div>
</div>


