<style>

</style>

<div class="page-title">
    <h1>Clubs Home</h1>
</div>

<div class="user-club-selection">
    <h5>Your Current Club Selection</h5>
    <p><a href="/clubs/your-clubs">Go to Golf Bag</a></p>
</div>

<div class="new-clubs">
    <h5>New Clubs for Sale</h5>
</div>